h1.header-bar span {
  font-weight: 400 !important;
}

a, a:visited,
.navbar.navbar-light .navbar-nav .nav-item.active > .nav-link,
.profile .more-info,
.social .contact-icons a:hover i::before,
footer.fixed-bottom a:hover,
blockquote,
code,
pre {
  color: #841617 !important;
}

a:hover {
  color: #841617 !important;
}
